.workoutCard{
    display: flex;
    flex-direction: column;
    padding:5px 30px !important;
    width:40vw;
}
.workoutCardTitle{
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    color: #0f4b90 !important;
}
.workoutCardLoad{
    color: black !important;
    font-size: 1.2rem  !important;
}
.workoutCardReps{
    color: black !important;
    font-size: 1.2rem  !important;  
}
.workoutCardCreatedAt{
    color: black !important;
    font-size: 0.8rem  !important;  
}
.workoutCardButton{
    margin: 0px auto !important;
    color:red !important;
}
.cardContentMain{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    /* background-color: aqua; */
}
.typographyDiv{
    width:80%;
    /* background-color: yellow; */
}
.buttonDiv{
    margin-top: 10px;
}